{%- if api == "/dataservice/device" %}
# Fabric Devices
{%-     for device in data_to_template['data'] %}
## Hostname: {{ device['host-name'] }}
### Device ID: {{ device.deviceId }}
### Board Serial: {{ device['board-serial'] }}
### Certificate Validity: {{ device['certificate-validity'] }}
### Connected vManages: {{ device.connectedVManages | replace("\\","") | replace('"','') | replace(","," ") | replace("'","") | replace("[","") | replace("]","") }}
### Control Connections: {{ device.controlConnections }}
### Device
#### Groups: {{ device['device-groups'] | replace("\\","") | replace('"','') | replace(","," ") | replace("'","") | replace("[","") | replace("]","") }}
#### Model: {{ device['device-model'] }}
#### OS: {{ device['device-os'] }}
#### Type: {{ device['device-type'] }}
#### Is Device Geo Data: {{ device.isDeviceGeoData }}
### Domain ID: {{ device['domain-id'] }}
### Last Updated: {{ device.lastupdated }}
### Location
#### Latitude: {{ device.latitude }}
#### Longitude: {{ device.longitude }}
### Layout Level: {{ device.layoutLevel }}
### Local System IP: {{ device['local-system-ip'] }}
### Max Controllers: {{ device['max-controllers'] }}
### Model SKU: {{ device.model_sku }}
### Personality: {{ device.personality }}
### Platform: {{ device.platform }}
### Reachability: {{ device.reachability }}
### Site ID: {{ device['site-id'] }}
### State: {{ device.state }}
### Description: {{ device.state_description }}
### Status: {{ device.status }}
### Status Order: {{ device.statusOrder }}
### System IP: {{ device['system-ip'] }}
### Testbed Mode: {{ device.testbed_mode }}
### Timezone: {{ device.timezone }}
### Total CPU Count: {{ device.total_cpu_count }}
### Update Date: {{ device['uptime-date'] }}
### UUID: {{ device.uuid }}
### Validity: {{ device.validity }}
### Version: {{ device.version }}
{%-     endfor %}
{%- elif api == "/dataservice/device/monitor"%}
# Device Status
{%-     for device in data_to_template['data'] %}
## Hostname: {{ device['host-name'] }}
### Device Model: {{ device['device-model'] }}
### Device Type: {{ device['device-type'] }}
### Layout Level: {{ device.layoutLevel }}
### Site ID: {{ device['site-id'] }}
### Status: {{ device.status }}
### System IP: {{ device['system-ip'] }}
{%-     endfor %}
{%- elif api == "/dataservice/device/counters"%}
# Device Counters
{%-     for device in data_to_template['data'] %}
## System IP: {{ device['system-ip'] }}
### BFD Sessions
#### Down: {{ device.bfdSessionsDown | default("N/A") }}
#### Up: {{ device.bfdSessionsUp | default("N/A") }}
### Crash Count: {{ device.crashCount }}
### Connections
#### Expected Control: {{ device.expectedControlConnections | default("N/A") }}
#### Actual Control: {{ device['number-vsmart-control-connections'] }}
### OMP Peers
#### Down: {{ device.ompPeersDown | default("N/A") }}
#### Up: {{ device.ompPeersUp | default("N/A") }}
### Reboot Count: {{ device.rebootCount }}
{%-     endfor %}
{%- elif api == "/dataservice/template/feature"%}
# Template Features
{%-     for template in data_to_template['data'] %}
## Template Name: {{ template.templateName }}
### Attached Masters Counter: {{ template.attachedMastersCount }}
### Config Type: {{ template.configType }}
### Created
#### By: {{ template.createdBy }}
#### On: {{ template.createdOn }}
### Devices Attached: {{ template.devicesAttached }}
### Factory Default: {{ template.factoryDefault }}
### Last Updated
#### By: {{ template.lastUpdatedBy }}
#### On: {{ template.lastUpdatedOn }}
### Template
#### ID: {{ template.templateId }}
#### Description: {{ template.templateDescription }}
#### Min Version: {{ template.templateMinVersion }}
#### Type: {{ template.templateType }}
### Devices
{%-         for device in template['deviceType'] %}
#### {{ device }}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "/dataservice/template/feature/types"%}
# Template Feature Types
{%-     for type in data_to_template['data'] %}
## Name: {{ type.name }}
### Display Name: {{ type.displayName }}
### Default: {{ type.default }}
### Description: {{ type.description }}
### Helper Type: {{ type.helperType }}
### Parent: {{ type.parent }}
### Type Class: {{ type.typeClass }}
### Models
{%-         for device_model in type['deviceModels'] %}
#### {{ device_model.name }}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "/dataservice/template/policy/vedge/devices"%}
# vEdge Devices
{%-     for device in data_to_template['data'] %}
## Hostname: {{ device['host-name'] }}
### Layout Level: {{ device.layoutLevel }}
### Local System IP: {{ device['local-system-ip'] }}
### Site ID: {{ device['site-id'] }}
### UUID: {{ device.uuid }}
{%-     endfor %}
{%- elif api == "/dataservice/template/policy/list"%}
# Template Policy List
{%-     for policy in data_to_template['data'] %}
## Name: {{ policy.name }}
### Description: {{ policy.description }}
### Info Tag: {{ policy.infoTag }}
### Is Activated by VSmart: {{ policy.isActivatedByVsmart }}
### Last Updated: {{ policy.lastUpdated }}
### List ID: {{ policy.listId }}
### Owner: {{ policy.owner }}
### Read Only: {{ policy.readOnly }}
### Reference Count: {{ policy.referenceCount }}
### Type: {{ policy.type }}
### Version: {{ policy.version }}
### Policy Entries
{%-         for entry in policy['entries'] %}
    {%- if "jitter" in entry %}
#### Jitter: {{ entry.jitter }}
#### Latency: {{ entry.latency }}
#### Loss: {{ entry.loss }}
    {%- elif "app" in entry %}
#### {{ entry.app }}
    {%- elif "vpn" in entry %}
#### VPN: {{ entry.vpn }}
    {%- elif "siteId" in entry %}
#### Site ID: {{ entry.siteId }}
    {%- elif "ipPrefix" in entry %}
#### IP Prefix: {{ entry.ipPrefix }}
    {%- endif %}
{%-         endfor %}
### References
{%-         for reference in policy['references'] %}
#### ID: {{ reference.id }}
#### Type: {{ reference.type }}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "/dataservice/data/device/state/BFDSessions"%}
# BFD Sessions
{%-     for device in data_to_template['data'] %}
## @RID: {{ device['@rid'] }}
### Color: {{ device.color }}
### Timestamps
#### Created: {{ device.createTimeStamp }}
#### Last Updated: {{ device.lastupdated }}
#### Uptime: {{ device['uptime-date'] }}
### Detect Multiplier: {{ device['detect-multiplier'] }}
### Destination
#### IP: {{ device['dst-ip'] }}
#### Port: {{ device['dst-port'] }}
### Local Color: {{ device['local-color'] }}
### Protocol: {{ device.proto }}
### Record ID: {{ device.recordId }}
### Site ID: {{ device['site-id'] }}
### Source
#### IP: {{ device['src-ip'] }}
#### Port: {{ device['src-port'] }}
### State: {{ device.state }}
### System IP: {{ device['system-ip'] }}
### Transitions: {{ device.transitions }}
### TX Interval: {{ device['tx-interval'] }}
### vDevice
#### Hostname: {{ device['vdevice-host-name'] }}
#### Name: {{ device['vdevice-name'] }}
#### Data Key {{ device['vdevice-dataKey'] }}
### vManage System IP: {{ device['vmanage-system-ip'] }}
{%-     endfor %}
{%- elif api == "/dataservice/data/device/state/ControlConnection"%}
# Control Connections
{%-     for device in data_to_template['data'] %}
## @RID: {{ device['@rid'] }}
### Behind Proxy: {{ device['behind-proxy'] }}
### Controller Group ID: {{ device['controller-group-id'] }}
### Timestamps
#### Created: {{ device.createTimeStamp }}
#### Last Updated: ### {{ device.lastupdated }}
#### Uptime: {{ device['uptime-date'] }}
### Domain ID: {{ device['domain-id'] }}
### Instance: {{ device.instance }}
### Color
#### Local: {{ device['local-color'] }}
#### Remote: {{ device['remote-color'] }}
### Peer Type: {{ device['peer-type'] }}
### IP
#### Private
##### IP: {{ device['private-ip'] }}
##### Port: {{ device['private-port'] }}
#### Public
##### IP: {{ device['public-ip'] }}
##### Port: {{ device['public-port'] }}
#### Protocol: {{ device.protocol }}
### Record ID: {{ device.recordId }}
### Site ID: {{ device['site-id'] }}
### State: {{ device.state }}
### System IP: {{ device['system-ip'] }}
### vDevice
#### Hostname: {{ device['vdevice-host-name'] }}
#### Device Name: {{ device['vdevice-name'] }}
#### Data Key: {{ device['vdevice-dataKey'] }}
### vManage System IP: {{ device['vmanage-system-ip'] }}
{%-     endfor %}
{%- elif api == "/dataservice/data/device/state/ControlLocalProperty"%}
# Control Local Property
{%-     for device in data_to_template['data'] %}
## @RID: {{ device['@rid'] }}
### Board Serial: {{ device['board-serial'] }}
### Certificate
#### Not Valid
##### After: {{ device['certificate-not-valid-after'] }}
##### Before: {{ device['certificate-not-valid-before'] }}
#### Status: {{ device['certificate-status'] }}
#### Validity: {{ device['certificate-validity'] }}
### Timestamps
#### Created: {{ device.createTimeStamp }}
#### Last Updated: {{ device.lastupdated }}
### Device Type: {{ device['device-type'] }}
### DNS Name: {{ device['dns-name'] }}
### Domain ID: {{ device['domain-id'] }}
### Keygen Interval: {{ device['keygen-interval'] }}
### Max Controllers: {{ device['max-controllers'] }}
### Number Active WAN Interfaces: {{ device['number-active-wan-interfaces'] }}
### Number vBond Peers: {{ device['number-vbond-peers'] }}
### Organization Name: {{ device['organization-name'] }}
### Port Hopped: {{ device['port-hopped'] }}
### Protocol: {{ device.protocol }}
### Record ID: {{ device.recordId }}
### Register Interval: {{ device['register-interval'] }}
### Retry Interval: {{ device['retry-interval'] }}
### Root CA Chain Status: {{ device['root-ca-chain-status'] }}
### Site ID: {{ device['site-id'] }}
### SP Organization Name: {{ device['sp-organization-name'] }}
### System IP: {{ device['system-ip'] }}
### TLS Port: {{ device['tls-port'] }}
### Token: {{ device.token }}
### UUID: {{ device.uuid }}
### vDevice
#### Hostname: {{ device['vdevice-host-name'] }}
#### Name: {{ device['vdevice-name'] }}
#### Data Key: {{ device['vdevice-dataKey'] }}
### vEdge List Version: {{ device['vedge-list-version'] }}
### vManage System IP: {{ device['vmanage-system-ip'] }}
### vSmart List Version: {{ device['vsmart-list-version'] }}
{%-     endfor %}
{%- elif api == "/dataservice/data/device/state/ControlWanInterface"%}
# Control WAN Interface
{%-     for device in data_to_template['data'] %}
## @RID: {{ device['@rid'] }}
### State:
#### Admin: {{ device['admin-state'] }}
#### Operation: {{ device['operation-state'] }}
### Carrier: {{ device.carrier }}
### Color: {{ device.color }}
### Timestamps
#### Created: {{ device.createTimeStamp }}
#### Last Updated: {{ device.lastupdated }}
### Index: {{ device.index }}
### Instance: {{ device.instance }}
### Interface: {{ device.interface }}
### Number of
#### vManages: {{ device['num-vmanages'] }}
#### vSmarts: {{ device['num-vsmarts'] }}
### IP Addresses
#### Private
##### v4: {{ device['private-ip'] }}
##### v6: {{ device['private-ipv6'] }}
##### Port: {{ device['private-port'] }}
#### Public
##### v4: {{ device['public-ip'] }}
##### Port: {{ device['public-port'] }}
### Record ID: {{ device.recordId }}
### vDevice
#### Hostname: {{ device['vdevice-host-name'] }}
#### Name: {{ device['vdevice-name']}}
#### Data Key: {{ device['vdevice-dataKey'] }}
### vManage System IP: {{ device['vmanage-system-ip'] }}
### WAN Port Hopped: {{ device['wan-port-hopped'] }}
{%-     endfor %}
{%- elif api == "/dataservice/data/device/state/HardwareEnvironment"%}
# Hardware Environment
{%-     for device in data_to_template['data'] %}
## @RID: {{ device['@rid'] }}
### Timestamps
#### Created: {{ device.createTimeStamp }}
#### Last Updated: {{ device.lastupdated }}
### Hardware
#### Class: {{ device['hw-class'] }}
#### Dev Index: {{ device['hw-dev-index'] }}
#### Item: {{ device['hw-item'] }}
### Measurement: {{ device.measurement }}
### Record ID: {{ device.recordId }}
### Status: {{ device.status }}
### vDevice
#### Hostname: {{ device['vdevice-host-name'] }}
#### Name: {{ device['vdevice-name'] }}
#### Data Key: {{ device['vdevice-dataKey'] }}
### vManage System IP: {{ device['vmanage-system-ip'] }}
{%-     endfor %}
{%- elif api == "/dataservice/data/device/state/HardwareInventory"%}
# Hardware Inventory
{%-     for device in data_to_template['data'] %}
## @RID: {{ device['@rid'] }}
### Timestamps
#### Created: {{ device.createTimeStamp }}
#### Last Updated: {{ device.lastupdated }}
### Hardware
#### Description: {{ device['hw-description'] }}
#### Dev Index: {{ device['hw-dev-index'] }}
#### Type: {{ device['hw-type'] }}
#### Part Number: {{ device['part-number'] }}
### Record ID: {{ device.recordId }}
### Serial Number: {{ device['serial-number'] }}
### vDevice
#### Hostname: {{ device['vdevice-host-name'] }}
#### Name: {{ device['vdevice-name'] }}
#### Data Key: {{ device['vdevice-dataKey'] }}
### Version: {{ device.version }}
### vManage System IP: {{ device['vmanage-system-ip'] }}
{%-     endfor %}
{%- elif api == "/dataservice/data/device/state/Interface"%}
# Interface<
{%-     for device in data_to_template['data'] %}
## @RID: {{ device['@rid'] }}
### AF Type: {{ device['af-type'] }}
### Auto Negotiate: {{ device['auto-neg'] }}
### Timestamps
#### Created: {{ device.createTimeStamp }}
#### Last Updated: {{ device.lastupdated }}
### Duplex: {{ device.duplex }}
### Encapsulation Type: {{ device['encap-type'] }}
### Hardware Address: {{ device.hwaddr }}
### Admin Status: {{ device['if-admin-status'] }}
### Oper Status: {{ device['if-oper-status'] }}
### Index: {{ device.ifindex }}
### Name: {{ device.ifname }}
### IP Address
#### v4: {{ device['ip-address'] }}
#### v6: {{ device['ipv6-address'] }}
### Port Type: {{ device['port-type'] }}
### Record ID: {{ device.recordId }}
### Speed Mbps: {{ device['speed-mbps'] }}
### vDevice
#### Hostname: {{ device['vdevice-host-name'] }}
#### Device Name: {{ device['vdevice-name'] }}
#### Data Key: {{ device['vdevice-dataKey'] }}
### vManage System IP: {{ device['vmanage-system-ip'] }}
### VPN ID: {{ device['vpn-id'] }}
{%-     endfor %}
{%- elif api == "/dataservice/data/device/state/CEdgeInterface"%}
# CEdge Interfaces
{%-     for device in data_to_template['data'] %}
## @RID: {{ device['@rid'] }}
### Timestamps
#### Created: {{ device.createTimeStamp }}
#### Last Updated: {{ device.lastupdated }}
### BIA Address: {{ device['bia-address'] }}
### Hardware Address: {{ device.hwaddr }}
### Interface Status
#### Admin: {{ device['if-admin-status'] }}
#### Oper: {{ device['if-oper-status'] }}
### Index: {{ device.ifindex }}
### Name: {{ device.ifname }}
### Type: {{ device['interface-type'] }}
### IP Address
#### v4: {{ device['ip-address'] }}
### Subnet Mask: {{ device['ipv4-subnet-mask'] }}
### TCP Adjust MSS: {{ device['ipv4-tcp-adjust-mss'] }}
### v6: {{ device['ipv6-addrs'] }}
### v6 TCP Adjust MSS: {{ device['ipv6-tcp-adjust-mss'] }}
### MTU: {{ device.mtu }}
### Record ID: {{ device.recordId }}
### RX
#### Drops: {{ device['rx-drops'] }}
#### Errors: {{ device['rx-errors'] }}
#### Octects: {{ device['rx-octets'] }}
#### Packets: {{ device['rx-packets'] }}
### Speed Mbps: {{ device['speed-mbps'] }}
### Tx
#### Drops: {{ device['tx-drops'] }}
#### Errors: {{ device['tx-errors'] }}
#### Octets: {{ device['tx-octets'] }}
#### Packets: {{ device['tx-packets'] }}
### vDevice
#### Hostname: {{ device['vdevice-host-name'] }}
#### Name: {{ device['vdevice-name'] }}
#### Data Key: {{ device['vdevice-dataKey'] }}
### vManage System IP: {{ device['vmanage-system-ip'] }}
### VPN ID: {{ device['vpn-id'] }}
{%-     endfor %}
{%- elif api == "/dataservice/data/device/state/OMPPeer"%}
# OMP Peers
{%-     for device in data_to_template['data'] %}
## @RID: {{ device['@rid'] }}
### Timestamps
#### Created: {{ device.createTimeStamp }}
#### Last Updated: {{ device.lastupdated }}
### Domain ID: {{ device['domain-id'] }}
### Legit: {{ device.legit }}
### Peer: {{ device.peer }}
### Record ID: {{ device.recordId }}
### Refresh: {{ device.refresh }}
### Site ID: {{ device['site-id'] }}
### State: {{ device.state }}
### Type: {{ device.type }}
### vDevice
#### Hostname: {{ device['vdevice-host-name'] }}
#### Name: {{ device['vdevice-name'] }}
#### Data Key: {{ device['vdevice-dataKey'] }}
### vManage System IP: {{ device['vmanage-system-ip'] }}
{%-     endfor %}
{%- elif api == "/dataservice/data/device/state/SystemStatus"%}
# System Status
{%-     for device in data_to_template['data'] %}
## @RID: {{ device['@rid'] }}
### Board Type: {{ device['board_type'] }}
### Boot Loader Version: {{ device.bootloader_version }}
### Build Number: {{ device.build_number | replace("\n","") }}
### Chassis Serial Number: {{ device['chassis-serial-number'] }}
### Timestamps
#### Created: {{ device.createTimeStamp }}
#### Last Updated: {{ device.lastupdated }}
#### Uptime Date: {{ device['uptime-date'] }}
### Disk Status: {{ device.disk_status }}
### FIPS Mode: {{ device.fips_mode }}
### Log Host Status: {{ device.loghost_status }}
### Model SKU: {{ device.model_sku }}
### Personality: {{ device.personality }}
### Reboot
#### Reason: {{ device.reboot_reason }}
#### Type: {{ device.reboot_type }}
### Record ID: {{ device.recordId }}
### State
#### State: {{ device.state }}
#### State description: {{ device.state_description }}
### Testbed Mode: {{ device.testbed_mode }}
### Total CPU Count: {{ device.total_cpu_count }}
### vDevice
#### Hostname: {{ device['vdevice-host-name'] }}
#### Name: {{ device['vdevice-name'] }}
#### Data Key: {{ device['vdevice-dataKey'] }}
### Version: {{ device.version }}
### vManage
#### Storage Disk Mount: {{ device['vmanage-storage-disk-mount'] }}
#### System IP: {{ device['vmanage-system-ip'] }}
{%-     endfor %}
{%- elif api == "/dataservice/data/device/state/System"%}
# System
{%-     for device in data_to_template['data'] %}
## @RID {{ device['@rid'] }}
### Timestamps
#### Created: {{ device.createTimeStamp }}
#### Last Updated: {{ device.lastupdated }}
### ID
#### Record: {{ device.recordId }}
#### UUID: {{ device.uuid }}
### vDevice
#### Hostname: {{ device['vdevice-host-name'] }}
#### Name: {{ device['vdevice-name'] }}
#### Data Key: {{ device['vdevice-dataKey'] }}
### vManage System IP: {{ device['vmanage-system-ip'] }}
{%-     endfor %}
{%- elif "/dataservice/device/arp?deviceId=" in api %}
# ARP Interfaces
{%-     for interface in data_to_template['data'] %}
## Interface Name: {{ interface['if-name'] }}
### IP: {{ interface.ip }}
### Timestamps
#### Last Updated: {{ interface.lastupdated }}
#### Uptime: {{ interface.uptime }}
#### Uptime Date: {{ interface['uptime-date'] }}
### MAC: {{ interface.mac }}
### State: {{ interface.state }}
### vDevice
#### Hostname: {{ interface['vdevice-host-name'] }}
#### Name: {{ interface['vdevice-name'] }}
#### Data Key: {{ interface['vdevice-dataKey'] }}
### VPN ID: {{ interface['vpn-id'] }}
{%-     endfor %}
{%- elif "/dataservice/device/bfd/summary?deviceId=" in api %}
# BFD Summary
{%-     for device in data_to_template['data'] %}
## Hostname: {{ device['vdevice-host-name'] }}
### BFD Sessions
#### Flap: {{ device['bfd-sessions-flap'] }}
#### Max: {{ device['bfd-sessions-max'] }}
#### Total: {{ device['bfd-sessions-total'] }}
###: Up: {{ device['bfd-sessions-up'] }}
### Last Updated: {{ device['lastupdated'] }}
### Poll Interval: {{ device['poll-interval'] }}
### vDevice
#### Data Key: {{ device['vdevice-dataKey'] }}
#### Name: {{ device['vdevice-name'] }}
{%-     endfor %}
{%- elif "/dataservice/device/bfd/sessions?deviceId=" in api %}
# BFD Sessions From Device
{%-     for device in data_to_template['data'] %}
## Color: {{ device.color }}
### Detect Multiplier: {{ device['detect-multiplier'] }}
### Destination
#### IP: {{ device['dst-ip'] }}
#### Port: {{ device['dst-port'] }}
### Timestamps
#### Last Updated: {{ device.lastupdated }}
#### Uptime: {{ device.uptime }}
#### Uptime Date: {{ device['uptime-date'] }}
### Local Color: {{ device['local-color'] }}
### Protocol: {{ device.proto }}
### Site ID: {{ device['site-id'] }}
### Source:
#### IP: {{ device['src-ip'] }}
#### Port: {{ device['src-port'] }}
### State: {{ device.state }}
### System IP: {{ device['system-ip'] }}
### Transitions: {{ device.transitions }}
### TX Interval: {{ device['tx-interval'] }}
### vDevice
#### Hostname: {{ device['vdevice-host-name'] }}
#### Name: {{ device['vdevice-name'] }}
#### Data Key: {{ device['vdevice-dataKey'] }}
{%-     endfor %}
{%- endif %}